@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

.info-A5 {
  font-family: var(--font-family);
  font-size: 4vw;
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.info-input-A5 {
  width: 8vw;
  height: 5vw;
  text-align: center;
  margin: 0 2vw;
  border-radius: 5%;
  background-color: var(--secondary-color);
  border: 2px solid var(--text-color);
  font-size: 100%;
  font-family: var(--font-family);
  color: var(--text-color);
}