@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
@import url('../defaults.css');

.rectangle {
    background-color: var(--secondary-color);
    border-radius: 10px;
    box-shadow: var(--box-shadow-default);
    top: 0;
    left: 0;
    position: absolute;
    width: 10.2vw;
    height: 10.2vw;
    /* px 0px 15px 8px #bec3f1d6; USE LATER FOR LEVEL INDICATION */

    font-family: var(--font-family);
    display: flex;
    flex-direction: column;
    font-size: 1.5vw;
    text-align: center;
    color: var(--text-color);
    font-weight: bold;
    letter-spacing: 2px;
    padding: 0.5vw;
}

.rectangle.inactive {
    cursor: not-allowed; /* Cursor to indicate it's not clickable */
}

.progress-line {
    background-color: var(--secondary-color);
    border-radius: 10px;
    box-shadow: var(--box-shadow-default);
    height: 68%;
    left: 28%;
    position: absolute;
    top: 22%;
    width: 0.5%;
}

.dot {
    background-color: var(--secondary-color);
    border-radius: 50%;
    box-shadow: var(--box-shadow-default);
    height: 1vw;
    width: 1vw;
}

.star {
    width: 2.5vw;
    height: 2.5vw;
}

.lock {
    width: 3.8vw;
    height: 3.8vw;
}