@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap");

.equation-row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 2.5vw;
  width: 100%;
  margin-top: 1vh;
}

.equation-part {
  margin: 0.5vw;
  font-family: var(--font-family);
  color: var(--text-color);
  font-weight: bold;
}

.coin-row-A6 {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  width: 85%;
  margin-top: 2vh;
  margin-left: 8vw;
}

.coin-container-A6 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  width: 45%;
  height: 6vw;
}

.equal-sign {
  position: fixed;
  left: 25%;
  font-size: 2.5vw;
  font-family: var(--font-family);
  color: var(--text-color);
  font-weight: bold;
}

.minus-sign {
  position: fixed;
  left: 54%;
  font-size: 2.5vw;
  font-family: var(--font-family);
  color: var(--text-color);
  font-weight: bold;
}

.coin-stack-A6 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.coin-A6 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.7vw;
  height: 2.7vw;
  background-color: var(--primary-color);
  border: 2px solid var(--text-color);
  border-radius: 50%;
  font-size: 2vw;
  font-family: var(--font-family);
}

.active-coin-A6 {
  background-color: red;
}

.info-input-A6 {
  width: 8vw;
  height: 4vw;
  text-align: center;
  border-radius: 5%;
  background-color: var(--secondary-color);
  border: 2px solid var(--text-color);
  font-size: 3vw;
  font-family: var(--font-family);
  color: var(--text-color);
  margin-left: 5vw;
}

.info-A6 {
  font-family: var(--font-family);
  font-size: 4vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
