@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

.coin-row-A9 {
    position: absolute;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 0.3vw;
    width: 90%;
    margin-left: 5%;
    margin-top: 0.2vw; 
    top: var(--top, 15%);
}

.coin-stack-A9 {
    display: flex;
    flex-wrap: wrap;
    gap: 0.1vw;
    width: 100%;
}

.coin-A9 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.7vw;
    height: 2.7vw;
    background-color: var(--primary-color);
    border: 2px solid var(--text-color);
    border-radius: 50%;
    font-size: 2vw;
    font-family: var(--font-family);
}

.active-coin-A9 {
    background-color: red;
}

.info-input-A9 {
    width: 8vw; 
    height: 4vw;
    text-align: center; 
    border-radius: 5%;
    background-color: var(--secondary-color);
    border: 2px solid var(--text-color);
    font-size: 4vw; 
    font-family: var(--font-family);
    color: var(--text-color);
    position: absolute;
    left: 6%;
    top: 75%;
    transform: translate(-50%, -50%);
}

@media (max-width: 1124px) {
    .info-input-A9 {
        margin-left: 10svw;
        width: 1svw;
        font-size: 3vw;
    }
}

.coin-row-divider {
    border: 1px solid black;
    width: 100%;
    margin-top: 0.5vw;
}

.symbol-A9 {
    position: absolute;
    font-weight: bold;
    transform: translate(-50%, -50%);
    font-family: var(--font-family);
    font-size: 3.5vw;
    color: var(--text-color);
    letter-spacing: 2px;
    left: var(--left, 50%);
    top: var(--top, 50%);
}