/* defaults.css */
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

/* define variables */
:root {
    --primary-color: #BFC4F2;
    --secondary-color: #eceefa;
    --text-color: #000000;
    --font-family: 'Patrick Hand', sans-serif;
    --box-shadow-default: 8px 8px 4px #00000040;
    --default-highlight: 0 0 10px 5px #ffbf00;
}

/* define object styles */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: auto;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

.white-box-regular {
    background-color: var(--secondary-color);
    border-radius: 10px;
    box-shadow: var(--box-shadow-default);
    height: 84vh;
    width: 60vw;
    padding: 1.5vh 1.3vw;
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
}

@media (max-width: 1180px) {
    .white-box-regular {
        height: 75vh;
        width: 70vw;
    }
}

.white-box-tall {
    background-color: var(--secondary-color);
    border-radius: 10px;
    box-shadow: var(--box-shadow-default);
    height: 90vh;
    width: 65vw;
    padding: 1.5vh 1.5vw;
    top: 2vh;
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
}

@media (max-width: 1124px) {
    .white-box-tall {
        height: 85vh;
        width: 70vw;
    }
}

.white-box-large {
    background-color: var(--secondary-color);
    box-shadow: var(--box-shadow-default);
    border-radius: 10px;
    height: 80vh;
    width: 70vw;
    padding: 1.5vh 1.5vw;
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.title-text {
    display: flex;
    justify-content: center;
    font-family: var(--font-family);
    font-size: 2.8vw;
    color: var(--text-color);
    font-weight: bold;
    letter-spacing: 1px;
}

.title-text-small {
    display: flex;
    justify-content: center;
    font-family: var(--font-family);
    font-size: 2.2vw;
    color: var(--text-color);
}

.button-default {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    border-radius: 50px;
    border: none;
    padding: 0.5vh 2vw;
    position: absolute;
    transform: translate(-50%, -50%);
    font-family: var(--font-family);
    font-size: 2.5vw;
    color: var(--text-color);
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
}

.congratulation-message {
    font-family: var(--font-family);
    font-size: 2.5vw;
    text-align: center;
    width: 100%;
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
}

.header-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.1vh 0.8vw;
    font-family: var(--font-family);
    font-size: 2vw;
    color: var(--text-color);
    background-color: var(--primary-color);
    border-radius: 50px;
    cursor: pointer;
    border: none;
}

.overlay {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-Index: 1;
    bottom: 20px; 
    right: 10px; 
}

.overlay-content {
    background: var(--secondary-color);
    padding: 0.4vw 1vw 0.4vw 1vw;
    border-radius: 10px;
    box-shadow: var(--box-shadow-default);
    font-family: var(--font-family);
    font-size: 2vw;
    color: var(--text-color);
    text-align: center;
    width: 100%; 
    height: 100%; 
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid var(--text-color);
}

.screen-size-message {
    font-family: var(--font-family);
    font-size: 6vw;
    position: relative;
    text-align: center;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
}

.stars-upper {
    display: flex;
    justify-content: center; 
    margin-top: 1.5vh; 
}

.highlighted {
    box-shadow: 0 0 10px 5px #ffbf00;
    transition: box-shadow 0.3s ease-in-out;
}

.tutorial-header-regular {
    position: absolute; 
    left: 50%;
    top: 1.5%;
    transform: translateX(-50%);
    font-size: 2.2vw;
    font-weight: bold;
    font-family: var(--font-family);
    color: var(--secondary-color);
    background-color: transparent;
    z-index: 10;
    pointer-events: none;
}

@media (max-width: 1180px) {
    .tutorial-header-regular {
        top: 7%;
    }
}

@media (max-height: 520px) {
    .tutorial-header-regular {
        top: 0.2%;
    }
}

.tutorial-header-large {
    position: absolute; 
    left: 50%;
    top: 4%;
    transform: translateX(-50%);
    font-size: 2.2vw;
    font-weight: bold;
    font-family: var(--font-family);
    color: var(--secondary-color);
    background-color: transparent;
    z-index: 10;
    pointer-events: none;
}

@media (max-width: 1180px) {
    .tutorial-header-large {
        top: 4%;
    }
}

@media (max-height: 520px) {
    .tutorial-header-large {
        top: 0.3%;
    }
}

.tutorial-header-tall {
    position: absolute; 
    left: 50%;
    top: 1%;
    transform: translateX(-50%);
    font-size: 2.2vw;
    font-weight: bold;
    font-family: var(--font-family);
    color: var(--secondary-color);
    background-color: transparent;
    z-index: 10;
    pointer-events: none;
}

@media (max-width: 1180px) {
    .tutorial-header-tall {
        top: 1.5%;
    }
}

@media (max-width: 1024px) {
    .tutorial-header-tall {
        top: 5%;
    }
}

@media (max-height: 520px) {
    .tutorial-header-tall {
        top: 0.1%;
    }
}

.stars-container2 {
    display: flex;
    justify-content: space-around; 
    margin-bottom: 0.5em; 
}

.star2 {
    font-size: 2rem;
    color: gold; 
}