/* defaults.css */
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

/* define variables */
:root {
    --primary-color: #BFC4F2;
    --secondary-color: #eceefa;
    --text-color: #000000;
    --font-family: 'Patrick Hand', sans-serif;
    --box-shadow-default: 8px 8px 4px #00000040;
}

/* define object styles */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.white-box-regular {
    background-color: var(--secondary-color);
    border-radius: 10px;
    box-shadow: var(--box-shadow-default);
    height: 80vh;
    width: 60vw;
    padding: 2vh 1.5vw;
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
}

.white-box-large {
    background-color: var(--secondary-color);
    box-shadow: var(--box-shadow-default);
    border-radius: 10px;
    height: 80vh;
    width: 70vw;
    padding: 2vh 1.5vw;
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.title-text {
    display: flex;
    justify-content: center;
    font-family: var(--font-family);
    font-size: 3vw;
    color: var(--text-color);
    font-weight: bold;
    letter-spacing: 2px;
}

.button-default {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    border-radius: 50px;
    border: none;
    padding: 0.5vh 2vw;
    position: absolute;
    transform: translate(-50%, -50%);
    font-family: var(--font-family);
    font-size: 2.5vw;
    color: var(--text-color);
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
}

.congratulation-message {
    font-family: var(--font-family);
    font-size: 2.5vw;
    text-align: center;
    width: 100%;
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
}

.header-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.2vh 0.8vw;
    font-family: var(--font-family);
    font-size: 1.7vw;
    background-color: var(--primary-color);
    border-radius: 50px;
    cursor: pointer;
    border: none;
}

.overlay {
    position: relative;
    top: 80%;
    left: 70%;
    width: 30%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.overlay-content {
    background: var(--secondary-color);
    padding: 1vw;
    border-radius: 10px;
    box-shadow: var(--box-shadow-default);
    font-family: var(--font-family);
    font-size: 2.5vw;
    color: var(--text-color);
    text-align: center;
}